* {
    box-sizing: border-box;
}

body {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    background-image: url("assets/images/gravel.png");
}